<div ng-controller="drivingExamCtrl">
  <ion-header-bar class="bar-stable">
    <h1 class="title">行车测试</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <button class="button" ng-click="getStart()">起步</button>
      <button class="button" ng-click="turnLeft()">左转</button>
      <button class="button" ng-click="turnRight()">右转</button>
      <button class="button" ng-click="changeRoad()">变更车道</button>
      <button class="button" ng-click="crossing()">通过路口</button>
      <button class="button" ng-click="turnOver()">掉头</button>
      <button class="button" ng-click="stop()">靠边停车</button>
    </div>
    </ion-content>
</div>
