<div ng-controller="lightExamCtrl">
  <ion-header-bar class="bar-stable">
    <h1 class="title">灯光测试</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <button class="button" ng-click="getStart()">自动测试灯光</button>
    </div>
    <div class="list">
      <button class="button" ng-click="getStart()">前照灯</button>
      <button class="button" ng-click="turnLeft()">照明不良</button>
      <button class="button" ng-click="turnRight()">同方向近距离跟车</button>
      <button class="button" ng-click="changeRoad()">前照灯变换成远光</button>
      <button class="button" ng-click="crossing()">窄路、窄桥与非机动车会车</button>
      <button class="button" ng-click="turnOver()">与机动车会车</button>
      <button class="button" ng-click="stop()">道路上发生故障</button>
      <button class="button" ng-click="stop()">急弯，坡路，拱桥</button>
      <button class="button" ng-click="stop()">没有交通信号灯控制的路口</button>
      <button class="button" ng-click="stop()">雾天行驶</button>
      <button class="button" ng-click="stop()">超车</button>
      <button class="button" ng-click="stop()">与非机动车会车</button>
      <button class="button" ng-click="stop()">路口左/右转弯</button>
      <button class="button" ng-click="stop()">路边临时停车</button>
      <button class="button" ng-click="stop()">关闭所有灯光</button>
    </div>
    </ion-content>
</div>
