<div ng-controller="testCtrl">
  <ion-content>
    <h4>notification</h4>
    <div class="list">
      <button class="button" ng-click="notifyTest1()">成功提示</button>
      <button class="button" ng-click="notifyTest2()">失败提示</button>
      <button class="button" ng-click="notifyTest3()">警告提示</button>
      <button class="button" ng-click="notifyTest4()">设置标题</button>
      <button class="button" ng-click="notifyTest5()">设置延迟</button>
      <button class="button" ng-click="notifyTest6()">手动消除提示</button>
    </div>
    </ion-content>
</div>
